{% extends 'base-public.html.twig' %}

{% block main %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Consulter vos emails !</h1>
            <hr class="my-3">
            <p class="lead">Un email contenant le lien permettant la modification de votre mot de passe vous a été envoyé sur : <strong>{{email}}</strong></p>
            <hr class="my-3">
        </div>
    </div>

{% endblock %}