{% extends 'base-public.html.twig' %}

{% block main %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ERREUR !</h1>
            <hr class="my-3">
            <p class="lead">Votre lien de modification de mot de passe n'est plus valide ou a déjà été utilisé.</p>
            <p class="lead">Merci d'effectuer une nouvelle demande de mot de passe !</p>
            <hr class="my-3">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('password-revovery') }}" role="button">Mot de passe oublié</a>
            </p>
        </div>
    </div>

{% endblock %}

{# :<strong>{{email}}<strong> #}