{% extends 'base-public.html.twig' %}

{% block main %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Nouveau mot de passe</h1>
            <p>Pour obtenir un nouveau mot de passe indiquer l'adresse mail fournis lors de votre inscription</p>
            {{ form_start(form) }}
                {{form_row(form.email, {'label': 'Adresse email',
                                        'required': 'required',
                                        'type': 'email', 
                                        'attr':{'placeholder':'Adresse email...'}})}}
                <button type="submit" class="btn btn-success">Envoyer !</button>
            {{form_end(form)}}
        </div>       
    </div>

{% endblock %}