{% extends 'base-public.html.twig' %}

{% block main %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Nouveau mot de passe</h1>
            <p>Merci de renseigner votre nouveau mot de passe</p>
            {{ form_start(form) }}
                {{form_row(form.password, {'label': 'Mot de passe', 'attr':{'placeholder':'Mot de passe 4 caractéres minimum...'}})}} 
                {{form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr':{'placeholder':'Confirmer votre mot de passe...'}})}}
                <button type="submit" class="btn btn-success">Envoyer !</button>
            {{form_end(form)}}
        </div>      
    </div>

{% endblock %}