{% extends 'base.html.twig' %}

{% block title %}New Insta{% endblock %}

{% block body %}
    <h1>Create new Insta</h1>

    {{ include('insta/_form.html.twig') }}

    <a href="{{ path('insta_index') }}">back to list</a>
{% endblock %}
