{% extends 'base-membre.html.twig' %}

{% block title %}Supprimer{% endblock %}

{% block main %}
    <h1 class="Admin">Supprimer</h1>

    {% for info in listinfo %}
        {{ info.title }}{{ include('member_zone/_delete_form.html.twig') }}
    {% endfor %}

{% endblock %}

