{% extends 'base-public.html.twig' %}

{% block main %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Changement de votre profil effectué !</h1>
        <hr class="my-5">

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('member_zone') }}" role="button">Retour</a>
            </p>
        </div>
    </div>

{% endblock %}