{# /***
 *    ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
 *    ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
 *    █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
 *    ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
 *    ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
 *    ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
 *                                                       
 */ #}

<footer class="row">
    <section class="col-xs-12 col-lg-6 col-xl-5 offset-xl-1 text-center h-1">
    <a href="#"><img src="{{ asset ('assets/img/logo-bdr-dpt-big.png') }}" /></a>
        <h3 href="#">Au service du tourisme</h3>
        <p>Provence Tourisme est une association loi 1901. Sa mission, confiée par le Département : promouvoir le tourisme dans les Bouches-du-Rhône dans le respect de l’environnement et des habitants et garantir aux visiteurs un accueil de qualité.</p>
        <div class="gauche">
        <a href="#"><i class="fas fa-puzzle-piece"></i> Qui sommes-nous</a><br /> 
        <a href="{{ path('contact') }}"><i class="fas fa-pencil-alt"></i> Contactez nous</a><br />
        <a href="#"><i class="fas fa-balance-scale"></i> Mentions légales</a><br />         
        <a href="#"><i class="fas fa-award"></i> Crédits</a>          
        </div>
    </section>
    <section class="col-xs-12 col-lg-6 col-xl-5 text-center h-1">
    <a href="#"><img src="{{ asset ('assets/img/logo-provence-tourism-big.png') }}" /></a>
        <h3 href="#">Le meilleur de la destination</h3>
        <p>En accord avec les aspirations et les goûts de chacun, Provence Tourisme propose d’incontournables valeurs sûres comme des conseils pour sortir des sentiers battus, grâce à sa connaissance profonde du terrain et de par sa neutralité commerciale.</p>
        <p><strong>Bouches-du-Rhône Tourisme</strong><br>13 rue Roux de Brignoles<br>13006 Marseille<br><br>
        <i class="fas fa-phone"></i> <a href="tel:+33491138413">04 91 13 84 13</a><br /> 
        <i class="fas fa-fax"></i> 04 91 33 01 82  <br /> 
        <i class="fas fa-envelope"></i> <a href="mailto:info@myprovence.fr">info@myprovence.fr</a></p>
    </section>
</footer>
