{% extends 'base-public.html.twig' %}

{% block main %}
    <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Signalement</h4>
    <hr>
    <p>Votre signalement a bien été entregistré.</p>
    <p>Il va être traité par un modérateur dans les plus brefs délais.</p>
    </div>
{% endblock %}
